body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    text-align:right;
}
.calculator{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    width: 350px;
    height:500px;
}

.container1{
    display:flex;
    justify-content: center;
    flex-grow:1;
}
.clear, .delete{
    box-sizing: border-box;
    height: 50px;
    margin: 10px;
    padding: 0 50px;
}

.ops-nums{
    display:flex;
    flex-wrap: wrap;
    width: 350px;
}

.ops{
    box-sizing: border-box;
    margin: 13px;
    padding: 20px;
    width: 60px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
